*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body
{
    background-color: rgb(5, 5, 23);
}
nav
    {
        background-color: white;
        border: 1px solid white;
        padding: 10px 10px 10px 10px;
        width: 100%;
    }
.navlogo
{
    color: rgb(5, 5, 23);
    font-size: 25px;
    cursor: pointer;
}
nav
{
    display: flex;
    justify-content: space-between;
}

.nav-item
{
    display: inline;
    padding: 20px;
    line-height: 40px;
    list-style: none;
}

.nav-link:hover
{
    color: white;
    background-color: rgb(5,5,23);
}
.nav-link
{
    color: rgb(5, 5, 23);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid transparent;
}

.container
{
    border: 1px solid white;
    border-radius: 25px;
    width: 600px;
    padding: 20px 0px 20px 13px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 90px;
}
input
{
    height: 35px;
    width: 300px;
    border: 1px solid white;
    color: black;
    font-size: 20px;
}
button
{
    font-size: 20px;
    height: 40px;
    width: 533px;
    color: white;
    background-color: rgb(42, 195, 42);
    border: 1px solid white;
}

button:hover
{
    background-color: rgb(7, 74, 7);
}

table tbody tr td
{
    padding: 15px;
    font-size: 25px;
    color: white;
}
th{
    font-size: 40px;
    color: white;
}
table thead th
{
    padding-bottom: 25px;
}
a:hover
{
    color: red;
}
footer
{
    background-color: black;
    width: 100%;
    padding: 50px;
}
footer p
{
    text-align: center;
    font-size: 70px;
    color: white;
}

.option
{
    height: 35px;
    width: 300px;
    font-size: 20px;
}

/* media queries */

@media screen and (max-width: 1064px) 
{
    nav  
    {
        display: none;
    }  
    
    .mobile1
    {
        display: block;
    }
}
@media screen and (min-width: 1064px) 
{
    
    .mobile1
    {
        display: none;
    }
}
@media screen and (max-width: 1063px) 
{
    
    .mobilelogo
    {
        font-size: 30px;
        color:rgb(5,5,23);
    }

    .mobile1
    {
        background-color:white;
        display: block;
        padding: 10px;
    }
    .mobile-nav
    {
        justify-content: space-between;
        display: flex;
    }
    .mobilelogo h1
    {
        font-size: 37px;
        color:rgb(5,5,23);
    }

    .mobile1 ul
    {
        margin: 10px;
        text-align: center;
    }

    .mobile1 ul li
    {
        list-style: none;
        border: 1px solid transparent;
        padding: 20px;
    }
    .mobile1 ul li a 
    {
        color: rgb(5,5,23);
        text-decoration: none;
        font-size: 20px;
    }
    .mobile1 ul li a:hover
    {
        color: white;
    }
    .mobile1 ul li:hover
    {
        background-color: rgb(5,5,23);
    }
    .mobile1 ul li:hover a
    {
        color:#fff;
    }

    .toggle button 
    {
        width: 70px;
        height: 50px;
    }
}